# Vim
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
src/tickysim
tests/check_check

# Autoconf litter
Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/stamp-h1
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/*/.deps/
