################################################################################
# A config file describing a SpiNNaker system.
################################################################################

model: {
	# Size of the torus (on the x and y axis)
	system_size: {
		width: 128;
		height: 128;
	}
	
	router: {
		period: 1;
		pipeline_length: 4;
		use_emergency_routing: False;
		first_timeout: 10;
		final_timeout: 15;
	}
	
	# Paramters for the buffers which connect nodes (these model chip-to-chip the wires)
	node_to_node_buffers: {
		length: 4;
	}
	
	arbiter_tree: {
		root: { period: 1; buffer_length: 1; }
		lvl1: { period: 2; buffer_length: 1; }
		lvl2: { period: 4; buffer_length: 1; }
	}
	
	packet_generator: {
		period: 1;
		bernoulli_prob: 0.01;
		dist: "cyclic";
	}
	
	packet_consumer: {
		period: 1;
		bernoulli_prob: 1.00;
		buffer_length: 1;
	}
}


simulation: {
	duration: 2000000;
}

